@{
  
    ViewBag.Title = "Authorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="field_set_main">
    <div class="row">
        <div id="widget_panel_wrapper" class="widget">
            <h2 id="widget_panel_title">
                Not Authorized</h2>
            <div class="main_content_widget" id="AuthorizedWrapper">
                <div id="AuthorizedTabs">
                    <div id="Admin">
                        <h4>
                            &nbsp &nbsp You are not authorized to view this page.</h4>
                    </div>
                </div>
                <br />
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>