<nav-menux class="masthead" ></nav-menux>
<div class="clearfix"></div>
<div class="container">
    <style>
        .nivo-caption {
    background: none repeat scroll 0 0 #3d3d3d;
    bottom: 0;
    box-sizing: border-box;
    color: #888888;
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    left: 0;
    opacity: 0.9;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: 40%;
    z-index: 8;
}

    </style>
    <div class="container-fluid">
        <hr/>
     
        <div class="main_bg" >            
            <div style="margin: 10px">
                <div class="wrap">
                    <div class="main">
                        <div class="content">                          
                            <div class="row"> 
                                <div class="col-md-6">          
                                    <h3><strong>2014 Trade Show Exhibitions</strong></h3>
                                    <p><a href="company-events-talk.asp"><img src="/mvc/areas/mobile/public/images/AC14_WereExhbiting.jpg" width="200" height="99" align="left" style="padding-right:10px;" /></a>
                                        <a href="http://ala14.ala.org/" target="_blank"><strong>ALA Annual</strong></a><br />
                                        Las Vegas, NV <br />
                                        June 27 - 30, 2014 <br />
                                        Booth #1111<br />
                                        <a href="company-events-talk.asp">Schedule a chat with A-G</a>
                                        <br /><br /><br />
                                        <a href="http://kslibassoc.org/2014Conf/" target="_blank"><img src="/mvc/areas/mobile/public/images/Kansas logo.png" width="200" height="56" align="left" style="padding-right:10px;" /><strong>Kansas Library Association</strong></a><br />
                                        Wichita, Kansas<br />
                                        October 29-31, 2014<br />

                                    </p>
                                </div>
        
                                <div class="col-md-6">
                                    <h3><strong>2014 User Group Events</strong></h3>
                                    <p>
                                        <a href="http://www.misslib.org/index.php/2014/02/25/mla-annual-conference/" target="_blank"><strong>Mississippi Library Association</strong></a><br />
                                        Vicksburg, MS<br />
                                        October 14 – 17, 2014<br />
                                        <br />
                                        <a href="http://www.milibraries.org/events/mla-2014-annual-conference/" target="_blank"><strong>Michigan Library Association</strong></a><br />
                                        Grand Rapids, MI<br />
                                        October 15 – 17, 2014<br />
                                        <br />
                                        <a href="http://wla.wisconsinlibraries.org/events-conferences/annual-conference/wla-conference-home" target="_blank"><strong>Wisconsin Library Association</strong></a><br />
                                        Wisconsin Dells, WI<br />
                                        November 4-7, 2014<br />
                                        <br />
                                    </p>
                                </div>        
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


     


     
     

                
        <div id="footer">
            <div class="ftr-bg">
                <div class="wrap">
                    <div class="footer">
                        <div class="copy">
                            <p class="w3-link">
                                Copyright © 2014.
                                <a href="http://www4.auto-graphics.com/index.asp">Auto-Graphics</a>
                                , Inc.
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



  