<nav-menux class="masthead" ></nav-menux>
<div class="container">
    <div class="container-fluid">


        <hr>

        <div class="main-content">
            <div class="lead">
                <strong>{{title}}</strong>
                Move the marker to update latitude and logitude.
            </div>
    
            <div id="map-canvas"></div>
            <div>
                <span class="badge badge-success">
                    <i class="icon-resize-horizontal"></i>
                    latitude: {{latitude}}
                </span>
                <span class="badge badge-success">
                    <i class="icon-resize-vertical"></i>
                    longitude: {{longitude}}
                </span>
            </div>
        </div>

    </div>
</div>


