<nav-menux class="masthead" ></nav-menux>
<div class="clearfix"></div>
<div class="container">
    <div class="container-fluid">
   <hr/>
        <h4>Account Information</h4>
        <tabset>
            <tab heading="My Account">
                <div style="margin: 10px;">
                    <profile-panel></profile-panel>
                </div>   
            </tab>
           <!-- <tab heading="Lost Item">
                <div style="margin: 10px;">
                    <lostitem-panel></lostitem-panel>
                </div>   
            </tab>-->
            
            <tab heading="Reserve">
                <div style="margin: 10px;">
                    <reserveitem-panel></reserveitem-panel>
                </div>   
            </tab>
            <tab heading="Checkout">
                <div style="margin: 10px;">
                    <checkoutitem-panel></checkoutitem-panel>
                </div>   
            </tab>

        </tabset>
      
    </div>
</div>
