@{
    ViewBag.Title = "Verso Library";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<script data-main="@Url.Content("~/Areas/Mobile/app/main.js")" src="@Url.Content("~/Areas/Mobile/Public/lib/requirejs/require.js")"></script>


<div class="container" ng-view></div>
    <!-- Google Analytics: Actual tracking take place at navMenu.js and home_ctrl.js -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-44735340-1']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
        
</script>
